<section class="content-header">
    <h1>Live Sign</h1>
</section>
<section class="content signboardcontainer">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12 highlight">
                        <h4>Company Signboard Key:</h4>
                        <div class="col-md-12">
                            <h2>{{companyId}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 1000px;">
    </div>
</section>