<section class="content-header">
    <h1>Users</h1>
    <ol class="breadcrumb hidden-xs hidden-sm">
        <li>
            <a href="#/">
                <i class="fa fa-dashboard"></i> Home
            </a>
        </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Users</h3>
                    <div class="box-tools">
                        <ul class="newloader pull-left" ng-if="users.length==undefined">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <table class="table table-hover">
                    <tr>
                        <td class="col-md-3 col-sm-9">
                            <strong>Email</strong>
                        </td>
                        <td class="col-xs-3 hidden-sm hidden-xs">
                            <strong>First Name</strong>
                        </td>
                        <td class="col-md-3 hidden-sm hidden-xs">
                            <strong>Last Name</strong>
                        </td>
                        <td class="col-md-3 col-sm-3"></td>
                    </tr>
                    <tr ng-repeat="user in users|orderBy:'userName'">
                        <td>{{ user.userName }}</td>
                        <td class="hidden-sm hidden-xs">{{ user.firstName }}</td>
                        <td class="hidden-sm hidden-xs">{{ user.lastName }}</td>
                        <td>
                            <div class="btn-group">
                                <a data-toggle="dropdown" aria-expanded="false" class="custom-dropdown-link">
                                    Action <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#/users/{{ user.userId }}">View</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xs-12">
            <a class="btn btn-success" href="#/users/new">Create User</a>
        </div>
    </div>
 </section>
