<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Azure.Documents.Client" version="0.9.2-preview" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.3" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.3" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.6.3" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NLog" version="3.2.0.0" targetFramework="net451" />
  <package id="RefactorThis.GraphDiff" version="2.0.1" targetFramework="net45" />
  <package id="RestSharp" version="105.0.1" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.3" targetFramework="net451" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net45" />
  <package id="Drumble.CachedConfigurationManager" version="1.0.2" targetFramework="net451" />
  <package id="Drumble.DomainDrivenArchitecture.Domain" version="4.0.0-prerelease2" targetFramework="net451" />
  <package id="Drumble.DomainDrivenArchitecture.Infrastructure" version="4.0.0-prerelease4" targetFramework="net451" />
  <package id="Drumble.Logging" version="3.0.0" targetFramework="net451" />
  <package id="Drumble.ValueObjects" version="1.0.1" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net451" />
</packages>