<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogFile="C:\nlog.txt"
      internalLogLevel="Error" >
  <extensions>
    <add assembly="Drumble.Logging"/>
  </extensions>
  <variable name="standardLayout" value="${date} ${level:uppercase=true} ${logger} ${message}"/>
  <targets async="true">
    <target 
      xsi:type="Console"
      name="console"
      layout="${standardLayout}" />
    <target
      xsi:type="AzureTableStorage"
      name="tableStorage"
      connectionStringKey="LoggingStorageAccount"
      tableName="appcampuslogs"  />
    <target
      xsi:type="AzureTableStorage"
      name="portalApiTableStorage"
      connectionStringKey="LoggingStorageAccount"
      tableName="appcampuswebapilogs" />
    <target
      xsi:type="Mail"
      name="email"
      subject="appcampus [${level:uppercase=true}]: ${message}"
      useSystemNetMailSettings="True"
      html="True"
      addNewLines="True"
      replaceNewlineWithBrTagInHtml="True"
      to="Drumbledeveloper@gmail.com"
      from="no-reply@Drumble.co.za">
      <body xsi:type="SimpleLayout">
        <text>
          <![CDATA[
            <p>
              <table width="100%" style="margin:1;border:1;padding-left:8px;font-family:'Gill Sans','Gill Sans MT',Calibri,sans-serif;font-size:16px;">
                <tr>
                  <td width="100"><strong>Logger:</strong></td>
                  <td width="100%">${logger}</td>
                </tr>
                <tr>
                  <td><strong>Level:</strong></td>
                  <td>${level:uppercase=true}</td>
                </tr>
                <tr>
                  <td><strong>Date:</strong></td>
                  <td>${event-context:item=Date}</td>
                </tr>
                <tr>
                  <td><strong>Message:</strong></td>
                  <td>${message}</td>
                </tr>
                <tr>
                  <td colspan="2">${exception:format=tostring}</td>
                </tr>
              </table>
              <br>
            </p>
          ]]>
        </text>
      </body>
    </target>
  </targets>
  <rules>
    <logger name="*" level="Error" writeTo="email"/>
    <logger name="Application" minlevel="Info" writeTo="tableStorage" />
    <logger name="Application" minlevel="Trace" writeTo="console" />
    <logger name="PortalApi" minlevel="Info" writeTo="portalApiTableStorage" />
    <logger name="PortalApi" minlevel="Trace" writeTo="console" />
    <logger name="ivantest" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
